@import "tailwindcss";

@theme {
  --color-raposo-dark: hsl(from var(--color-slate-900) h 20% 15%);
  /* --color-raposo-dark: hsl(from var(--color-raposo-red) h 30% 10%); */
  --color-raposo-red: #891617;
  --color-raposo-red-dark: hsl(from var(--color-raposo-red) h 50% 10%);
  --color-raposo-yellow: #ffd400;
  --color-raposo-yellow-washed: #fbd471;
  --font-sans: "Inter", sans-serif;
}
@layer base {
  html {
    @apply antialiased scroll-smooth;
  }
  body {
    @apply bg-raposo-dark text-raposo-yellow-washed m-0 p-0;
  }
  section {
    @apply **:duration-500;
  }
}

@supports (animation-timeline: scroll()) {
  @keyframes rollDown {
    0% {
      opacity: 1;
      transform: translateY(1svh);
    }
    /* Até 40% do scroll da hero, ele começa a descer */
    20% {
      opacity: 1;
    }
    /* Quando a hero sumir quase toda (ex: 80% da rolagem dela), ele some e afunda */
    100% {
      opacity: 0;
      transform: translateY(100svh); /* Ajuste a distância conforme seu design */
    }
  }

  @keyframes revealOnScroll {
    from {
      opacity: 0;
      transform: translateY(600px);
      filter: brightness(0);
    }
    to {
      opacity: 1;
      transform: translateY(0);
      filter: brightness(1);
    }
  }

  .roll-down {
    /* 1. Vincula ao scroll global da página (root) */
    animation-timeline: scroll(root);
    animation-name: rollDown;

    /* 2. Mantém o estado final da animação preso no último frame */
    animation-fill-mode: both;

    /* 3. A animação acontece estritamente enquanto scrollamos do topo (0) até o final da Hero (100vh) */
    animation-range: 0 100vh;
  }

  .scroll-reveal {
    view-timeline-name: --section;
    view-timeline-axis: block;
    animation-name: revealOnScroll;
    animation-fill-mode: both;
    animation-timeline: scroll;
    /* Usa a variável se ela existir, senão o padrão é 0% */
    animation-range: entry calc(2% + var(--delay-step, 0%)) contain calc(20% + var(--delay-step, 0%));
  }
}

/* Fallback clássico caso o navegador não suporte animação de scroll */
@supports not (animation-timeline: scroll()) {
  .roll-down {
    opacity: 1;
    transform: none;
  }
  .scroll-reveal {
    opacity: 1;
    transform: none;
  }
}
